<div class="page-wrapper">
  <div class="container-fluid">
    <div class="nav-wrapper">
      <nav>
        <div class="left-nav">
        </div>
        <div class="right-nav">
          <app-admin-auth-modal></app-admin-auth-modal>
        </div>
      </nav>
    </div>
    <header>
      <div class="logo">
        <span class="word">Republica</span>
        <img src="../../assets/images/stema.PNG" alt="stema">
        <span class="word">Moldova</span>
      </div>
    </header>
    <div class="tricolour__footer">
      <div class="tricolour_blue"></div>
      <div class="tricolour_yellow"></div>
      <div class="tricolour_red"></div>
    </div>
    <div>
      <div class="row mt-5">
        <div *ngFor="let candidate of candidateList" >
          <app-candidate
            [name]='candidate.candidateName'
            [surname]="candidate.candidateSurname"
            [imgUrl] = imgUrl
            [candidate]="candidate"
            (candidateSelected)="vote($event)">
          </app-candidate>
        </div>
        <i aria-hidden="true"></i>
      </div>
<!--      <div class="mt-3" *ngFor="let candidate of candidates">-->
<!--          <div class="row ">-->
<!--            <app-candidate [name]='candidate'></app-candidate>-->
<!--          </div>-->
<!--      </div>-->
    </div>
  </div>
</div>


