* {
  padding: 0;
  margin: 0;
  font-family: "TitiliumWeb", sans-serif;
}

header {
  height: 80px;
  background-color: #f7f7f7;
  color: #000;
  border-top: 1px solid #99b0fd0d;
  border-bottom: 1px solid #99b0fd0d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 210px; */
}

.word {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

.word:first-child {
  margin-right: 10px;
}

.word:last-child {
  margin-left: 10px;
}

.logo img {
  width: 45px;
  cursor: pointer;
}

.tricolour__footer {
  display: flex;
  height: 2px;
}

.tricolour_blue {
  width: 33.33vw;
  background: #3F51B5;
}

.tricolour_yellow {
  width: 33.33vw;
  background: #ffef5d;
}

.tricolour_red {
  width: 33.33vw;
  background: #e94b3d;
}
.content-wrapper {
  width: 100vw;
  min-height: calc(100vh - 134px);
  display: flex;
  justify-content: center;
  align-items: center;

}
.content-wrapper::before {
  position: absolute;
  z-index: -1;
  top: 13rem;
  content: '';
  /*background-image: url(../../assets/images/);*/
  background-repeat: no-repeat;
  right: 0;
  left: auto;
  width: 45.125rem;
  height: calc(100vh - 208px);
  background-size: auto;
  filter: opacity(.25);
}

.card {
  width: 80vw;
  height: inherit;
  background-color: #ffffff;
  margin: 15px 0px;
  border-radius: 3px;
  box-shadow: 0 0 20px 11px #00000014;
  border-top: 1px solid #89a5ff;
  border-bottom: 1px solid #89a5ff;
  padding: 13px 22px;
  font-size: 15px;
}
