<div class="page-wrapper">
    <header>
      <div class="logo">
        <span class="word">Republica</span>
        <img src="../../assets/images/stema.PNG" alt="stema">
        <span class="word">Moldova</span>
      </div>
    </header>
    <div class="tricolour__footer">
      <div class="tricolour_blue"></div>
      <div class="tricolour_yellow"></div>
      <div class="tricolour_red"></div>
    </div>
    <div class="content-wrapper">
<h1>Votul dumnevoastră a fost înregistrat. Vă mulțumim!</h1>
  </div>
</div>

