<div class="page-wrapper">
  <div class="container-fluid">
    <div class="nav-wrapper">
      <nav>
        <div class="left-nav">
        </div>
        <div class="right-nav">
          <button class="logout-button" (click)="logout()">
            Delogare
          </button>
        </div>
      </nav>
    </div>
    <header>
      <div class="logo">
        <span class="word">Republica</span>
        <img src="../../assets/images/stema.PNG" alt="stema">
        <span class="word">Moldova</span>
      </div>
    </header>
    <div class="tricolour__footer">
      <div class="tricolour_blue"></div>
      <div class="tricolour_yellow"></div>
      <div class="tricolour_red"></div>
    </div>
    <div class="content-wrapper">
      <div class="row">
        <div class="col-6 p-5">
          <button type="submit" class="option-button" (click)="addNewFingerprint()">
            Adăugarea unei amprente noi
          </button>
        </div>
        <div class="col-6 p-5" >
          <button type="submit" class="option-button" (click)="deleteFingerprint()">
            Ștergerea unei amprente
          </button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" style="font-size: larger">
      {{message}}
    </div>
    <ng-container *ngIf="showHideAddingForm">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6 justify-content-center">
          <form [formGroup]="addUserForm" (ngSubmit)="addUser(addUserForm.value)">
            <div class="row justify-content-center">
              <div class="col-md-4 col-sm-2" style="width: 100%"></div>
              <div class="col-md-4 col-sm-8">
                <div class="row vertically-aligned">
                  <div class="col-md-12 text-center">
                    <mat-form-field appearance="outline" style="padding: 15px; width: 100%;">
                      <mat-label>First Name</mat-label>
                      <input matInput type="text" placeholder="First Name" formControlName="firstName">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row vertically-aligned">
                  <div class="col-12 text-center">
                    <mat-form-field appearance="outline" style="padding: 15px; width: 100%;">
                      <mat-label>Last Name</mat-label>
                      <input matInput type="text" placeholder="Last Name" formControlName="lastName">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row vertically-aligned">
                  <div class="col-12 text-center">
                    <button class="btn btn-outline-info" type="submit" mat-button>Login</button>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-2"></div>
            </div>
          </form>
        </div>
        <div class="col-3"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="showHideDeletingForm">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6 justify-content-center">
          <form [formGroup]="deleteUserForm" (ngSubmit)="deleteUser(deleteUserForm.value)">
            <div class="row justify-content-center">
              <div class="col-md-4 col-sm-2" style="width: 100%"></div>
              <div class="col-md-4 col-sm-8">
                <div class="row vertically-aligned">
                  <div class="col-md-12 text-center">
                    <mat-select formControlName="user">
                      <mat-option *ngFor="let user of users" [value]="user">
                        {{user.name + ' ' + user.surname}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="row vertically-aligned">
                  <div class="col-12 text-center">
                    <button class="btn btn-outline-info" type="submit" mat-button>Delete</button>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-2"></div>
            </div>
          </form>
        </div>
        <div class="col-3"></div>
      </div>
    </ng-container>
  </div>
</div>
