<div class="page-wrapper">
  <div class="container-fluid">
    <div class="nav-wrapper">
      <nav>
        <div class="left-nav">
        </div>
        <div class="right-nav">
          <button class="logout-button" (click)="logout()">
            Delogare
          </button>
        </div>
      </nav>
    </div>
    <header>
      <div class="logo">
        <span class="word">Republica</span>
        <img src="../../assets/images/stema.PNG" alt="stema">
        <span class="word">Moldova</span>
      </div>
    </header>
    <div class="tricolour__footer">
      <div class="tricolour_blue"></div>
      <div class="tricolour_yellow"></div>
      <div class="tricolour_red"></div>
    </div>
    <div class="content-wrapper">
      <div class="row">
        <div class="col-6 p-5">
          <button type="submit" class="option-button" >
            Adăugarea unei amprente noi
          </button>
        </div>
        <div class="col-6 p-5" >
          <button type="submit" class="option-button" >
            Ștergerea unei amprente
          </button>
        </div>
      </div>
  </div>
</div>

