<button type="button" class="how-to-button" (click)="openModal(template)">Cum votez?</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Etapele votului</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    1. First you put your finger on the sensor
  </div>
  <div class="modal-body">
    2. You wait while the sensor does the magic
  </div>
  <div class="modal-body">
    3. If you are granted access, you get to choose the dumbass that will represent your country!
  </div>
  <div class="modal-body">
    4. You are then asked to confirm your choice, cause you might be stupid or blind!
  </div>
  <div class="modal-body">
    5. Go home now
  </div>
</ng-template>
