login {
  margin: 16px auto;
}

.modal-body{
  font-family: Raleway-Regular;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1em;
}

.modal-title {
  padding: 20px;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #757975;
}

.login-container {
  text-transform: uppercase;
  padding: 12px;
}


.login input  {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #757975;
  border-radius: 3px;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}


.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #3f940e;
}

.login input[type="submit"] {
  background: #3f940e;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.login button {
  background: #941a00;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: 1px solid;
  border-radius: 3px;

}

.login input[type="submit"]:hover {
  background: #204c07;
}

.has-error input[type="text"],
.has-error input[type="password"] {
  border-color: rgb(216, 12, 12);
  color: rgb(230, 14, 14);
}

label{
  font-size: 13px;
}

.admin-log-in-button {
  color: #394f98;
  display:inline-block;
  border-bottom: 1px solid #394f9882;
  padding-bottom: 1px;
  cursor: pointer;
  padding: 3px 15px;
  border: 1px solid #394f9882;
  border-radius: 3px;

}

